VITE_COHERE_KEY=fLc3vndJ1ylPCmo1qZnoLA659RbROiA7ek8SnrPN
VITE_GOOGLE_API_KEY=AIzaSyBEChO_XSBN4ul3ARhT0UKkaQjB8cpeYZg
VITE_PEXELS_KEY=d1kC2hzqbVjjDq5dWIzE1OtoEepinFnTAlNKJZ0mqzgJ5nXeSZ0iSRuK
VITE_GEMINI_API_KEY=AIzaSyAkUNAF9usWIWFsEN0u5g16UQ3DfYWbPqs
